h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

#singletradecardheading {
	text-align : left ;
}

#singletradecardicons {
	text-align: right;
}

.margins {
	margin : 10px;
}

.alignDate {
	text-align : left ;
}

.bottom-margins {
	margin-bottom : 10px;
}
